# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2021-05-03 21:44:13--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 172.67.73.2, 104.26.15.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2021-05-03 21:44:13--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  47.3MB/s    in 0.5s

2021-05-03 21:44:14 (47.3 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2021-05-03 21:44:16--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 172.67.73.2, 104.26.15.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  61.1MB/s    in 0.8s

2021-05-03 21:44:17 (61.1 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [5]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row (
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [6]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [7]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [8]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col (
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)


-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [9]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [21]:
%%time
%%sql

SELECT product_title, avg(review_rating) as rr, review_date
FROM customer_reviews_row
WHERE review_date >= '1999-01-01' AND review_date <= '1999-12-31'
GROUP BY (product_title, review_date)
ORDER BY rr desc
LIMIT 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 6.51 ms, sys: 0 ns, total: 6.51 ms
Wall time: 4.2 s

[("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 10)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 11)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 1)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 8)),
 ('!Yo!', Decimal('5.0000000000000000'), datetime.date(1999, 3, 11)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 2)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 6)),
 ('!Yo!', Decimal('5.0000000000000000'), datetime.date(1999, 1, 7)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 7)),
 ('!Yo!', Decimal('5.0000000000000000'), datetime.date(1999, 5, 21)),
 ('!Yo!', Decimal('5.0000000000000000'), datetime.date(1999, 10, 30)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 12)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 1)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 3)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 18)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 21)),
 ('!Yo!', Decimal('5.0000000000000000'), datetime.date(1999, 2, 25)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 29)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 1, 8)),
 ("# 1's", Decimal('5.0000000000000000'), datetime.date(1999, 2, 13))]

 Then on `customer_reviews_col`:

In [22]:
%%time
%%sql

SELECT product_title, avg(review_rating) as rr, review_date
FROM customer_reviews_col
WHERE review_date >= '1999-01-01' AND review_date <= '1999-12-31'
GROUP BY (product_title, review_date)
ORDER BY rr desc
LIMIT 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 1.03 ms, sys: 3.87 ms, total: 4.9 ms
Wall time: 2.05 s

[('White Noise (Contemporary American Fiction)', Decimal('5.0000000000000000'), datetime.date(1999, 7, 22)),
 ('Cry, Cry, Cry', Decimal('5.0000000000000000'), datetime.date(1999, 4, 18)),
 ('M?tley Cr?e - Greatest Hits [Motley/Beyond]', Decimal('5.0000000000000000'), datetime.date(1999, 1, 8)),
 ('Heroic Diplomacy', Decimal('5.0000000000000000'), datetime.date(1999, 10, 12)),
 ('The One Year Chronological Bible', Decimal('5.0000000000000000'), datetime.date(1999, 1, 3)),
 ('The Catastrophist ', Decimal('5.0000000000000000'), datetime.date(1999, 6, 29)),
 ('Children Of Eden (1998 New Jersey Cast)', Decimal('5.0000000000000000'), datetime.date(1999, 7, 16)),
 ('Sleeping with the Enemy', Decimal('5.0000000000000000'), datetime.date(1999, 3, 3)),
 ('Content Area Reading', Decimal('5.0000000000000000'), datetime.date(1999, 12, 5)),
 ('Tiger Bay', Decimal('5.0000000000000000'), datetime.date(1999, 3, 11)),
 ('Gettysburg (Widescreen Edition)', Decimal('5.0000000000000000'), datetime.date(1999, 5, 21)),
 ('A History of Pi', Decimal('5.0000000000000000'), datetime.date(1999, 9, 6)),
 ('Paradise Road', Decimal('5.0000000000000000'), datetime.date(1999, 3, 12)),
 ('Under the Black Flag', Decimal('5.0000000000000000'), datetime.date(1999, 5, 19)),
 ('Shaping Seattle Architecture', Decimal('5.0000000000000000'), datetime.date(1999, 11, 27)),
 ('Come Clean', Decimal('5.0000000000000000'), datetime.date(1999, 12, 13)),
 ('Lizzie Borden (1998 American Stage Company Cast)', Decimal('5.0000000000000000'), datetime.date(1999, 10, 18)),
 ('The Shadow Within (Babylon 5, Book 7)', Decimal('5.0000000000000000'), datetime.date(1999, 11, 6)),
 ('Dark Force Rising (Star Wars Vol. 2)', Decimal('5.0000000000000000'), datetime.date(1999, 5, 31)),
 ('Rough Harvest', Decimal('5.0000000000000000'), datetime.date(1999, 10, 5))]

## Conclusion: We can see that the columnar storage is faster!